* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-shadow: 2px 2px 2px #000;
  transition: 2s;
}
h1,
h2 {
  font-family: cursive;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: auto;
}
h1 {
  color: brown;
  text-transform: capitalize;
  text-align: center;
}
h2 {
  text-transform: uppercase;
}
.container {
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.button {
  width: 100%;
  height: auto;
  font-size: 32px;
  text-transform: capitalize;
  font-variant: small-caps;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  position: fixed;
  bottom: 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0a0a23;
  color: blueviolet;
}
.animation {
  animation: sizeVariant 2s infinite linear;
}
.header {
  display: grid;
  position: relative;
  text-align: center;
  height: 10vh;
  width: 100%;
  grid-template-columns: auto auto auto;
}
@keyframes sizeVariant {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
